# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual env
venv/
.env/

# Index data
aem_index_store/
aem_index_meta.json
*.faiss
*.npy
*.pkl
aem_index_meta_old.json
aem_index_old.faiss

# System / IDE
.DS_Store
.vscode/
.idea/

# Maven
target/